{% extends 'base.html' %}
{% load static %}
    {% block title %}Help My Doc{% endblock title %}

    {% block extrahead %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock extrahead %}

    {% block image_hero %}{% static 'images/nuvem.png' %}{% endblock image_hero %}
    {% block image_hero_width %}256{% endblock image_hero_width %}
    {% block image_hero_height %}256{% endblock image_hero_height %}

    {% block titulo_hero %}BEM-VINDO{% endblock titulo_hero %}

    {% block texto_hero %}Não é necessario criar conta e todas as conversões são 100% gratuitas{% endblock texto_hero %}

    {% block content %}
    <div class="container px-4 pt-5 pb-2" id="featured-2">
      <h2 class="pb-2 border-bottom">Recursos</h2>
      <div class="row g-4 py-5 px-5 row-cols-lg-2  flex-row justify-content-center">

        <div class="feature col-4 m-4 shadow p-4">
          <div class="d-flex justify-content-center">
            <img src="{% static 'images/file-earmark-pdf.svg' %}" class="rounded shadow p-1" alt="image_pdf" width="64" height="64">
          </div>
          <h2 class="d-flex justify-content-center mt-4 border-bottom pb-2">PDF</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <div class="d-flex justify-content-center">
          <a href="{% url 'heic_to_jpeg' %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Active toggle link</a>          </div>
        </div>

        <div class="feature col-4 m-4 shadow p-4">
          <div class="d-flex justify-content-center">
            <img src="{% static 'images/apple.svg' %}" class="rounded p-1" alt="image_heic" width="64" height="64">
          </div>
          <h2 class="d-flex justify-content-center mt-4 border-bottom pb-2">HEIC</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button" id="btncustom">Toggle link</a>
          </div>
        </div>

        <div class="feature col-4 m-4 shadow p-4">
          <div class="d-flex justify-content-center">
            <img src="{% static 'images/file-earmark-word.svg' %}" class="rounded p-1" alt="image_docx" width="64" height="64">
          </div>
          <h2 class="d-flex justify-content-center mt-4 border-bottom pb-2">DOCX</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button" id="btncustom">Toggle link</a>
          </div>
        </div>

        <div class="feature col-4 m-4 shadow p-4">
          <div class="d-flex justify-content-center">
            <img src="{% static 'images/file-earmark-bar-graph.svg' %}" class="rounded shadow p-1" alt="image_csv" width="64" height="64">
          </div>
          <h2 class="d-flex justify-content-center mt-4 border-bottom pb-2">CSV</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button" id="btncustom">Toggle link</a>
          </div>
        </div>

      </div>
    </div>
    {% endblock content %}