.cards__card:hover{
    outline: 5px solid #ccd5ae;
    outline-offset: -5px;
}

.cards__card:hover .cards__title,
.cards__card:hover .cards__text{
    color: black;
}

.cards__card:hover .button {
    color: black;
    background: #ccd5ae;
}

.cards__image{
    width: 100%;
    height: 125px;
    padding-top: 2em;
}

.cards__content{
    text-align: center;
    padding: 10px 25px 10px;
    border-left: 1px solid #b2b6bb;
}

.cards__title{
    color: #82858a;
    font-size: 21px;
    font-weight: normal;
}

.cards__text{
    color: #82858a;
    font-size: 14px;
}

.cards__link {
    text-decoration: none;
}

.button {
    padding: 15px 40px;
    background: white;
    margin-top: 2em;
    border-radius: 20px;
    margin-bottom: 1.5em;
}